<h1>New Blog</h1>
<%= form_with(model: @blog) do |f| %>
  <div class="form-group">
    <%= f.label :name, 'Name', for: 'blog-name-input' %>
    <%= f.text_field :name, class: 'form-control', id: 'blog-name-input' %>
  </div>
  <div class="row">
    <div class="col form-group">
      <%= f.label :name, 'Repositosry', for: 'blog-repo-input' %>
      <%= render partial: 'select_repo', locals: { repos: github_user.repos_names, f: f } %>
    </div>
    <div class="col form-group">
      <%= f.label :name, 'Branch', for: 'blog-branch-input' %>
      <%= f.text_field :branch, class: 'form-control', id: 'blog-branch-input' %>
    </div>
  </div>
  <%= f.submit 'Create Blog', class: 'btn btn-success btn-lg' %>
<% end %>
